.main {
    margin-top: 80px;
    @media (max-width: 600px) {
    }
    .center {
        max-width: 1280px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        &_up {
            font-size: 25px;
            font-weight: bold;
        }
        &_bottom {
            display: flex;
            justify-content: start;
            gap: 50px;
            margin-top: 20px;
            flex-direction: row;
            @media (max-width: 600px) {
                gap: 18px;
            }
            &_block {
                height: 29px;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid white;
                &:hover {
                    border-bottom: 3px solid #1c62cd;
                    font-weight: bold;
                }
            }
        }
    }
}
